<div class="grid-size">
    <div class="btn-group">
        <a class="btn" {{action "setCardSize" "small"}}>
            {{fa-icon "th" class="small"}}
        </a>
        <a class="btn" {{action "setCardSize" "medium"}}>
            {{fa-icon "th" class="medium"}}
        </a>
        <a class="btn" {{action "setCardSize" "xlarge"}}>
            {{fa-icon "th" class="large"}}
        </a>
    </div>
</div>