<section class="header">
    <h1>Characters</h1>
    {{!-- extract to filter bar component plz maybe? --}}
    <div class="filter-bar">
        {{filter-bar cardSize=cardSize setSize=(action "setSize")}}
        {{input class="search" placeholder="Search Characters" value=q}}
    </div>
</section>
{{loading-dialog active=isLoading}}
<section class="characters resource-list">
    {{#each model as |character|}}
        {{resource-card cardSize=cardSize route="characters.show" resource=character image=character.thumbnail title=character.name}}
    {{/each}}
</section>
<footer class="pagination-bar">
    {{pagination-bar disabled=isLoading routeName="characters.index" limit=model.meta.limit offset=model.meta.offset total=model.meta.total}}
</footer>
