<section class="header">
    <h1>Comics</h1>
    {{!-- extract to filter bar component plz maybe? --}}
    <div class="filter-bar">
        {{filter-bar cardSize=cardSize setSize=(action "setSize")}}
        {{input class="search" placeholder="Search Comics" value=q}}
    </div>
</section>
{{loading-dialog active=isLoading}}
<section class="comics resource-list">
    {{#each model as |comic|}}
        {{resource-card cardSize=cardSize route="comics.show" resource=comic image=comic.thumbnail title=comic.title}}
    {{/each}}
</section>
{{!-- Extract to paging component plz --}}
<footer class="pagination-bar">
    {{pagination-bar disabled=isLoading routeName="comics.index" limit=model.meta.limit offset=model.meta.offset total=model.meta.total}}
</footer>