<section class="header">
    <h1>Comic Details</h1>
</section>
<section class="comic-detail resource-detail">
    <article class="detail-image">
        {{marvel-image size="xlarge" shape="portrait" path=model.thumbnail.path extension=model.thumbnail.extension}}
    </article>
    <article class="details">
        <h2 class="name">{{model.title}}</h2>  
        <p class="description">
            {{#if model.description}}
                {{{model.description}}}
            {{else}}
                <span class="no-data">No description available</span>
            {{/if}}
        </p>
    </article>
</section>
<section class="images">
    {{#each model.images as |image|}}
        {{marvel-image path=image.path extension=image.extension}}
    {{/each}}
</section>