<section class="header">
    <h1>Events</h1>
    {{!-- extract to filter bar component plz maybe? --}}
    <div class="filter-bar">
        {{filter-bar cardSize=cardSize setSize=(action "setSize")}}
        {{input class="search" placeholder="Search Events" value=q}}
    </div>
</section>
{{loading-dialog active=isLoading}}
<section class="events resource-list">
    {{#each model as |event|}}
        {{resource-card cardSize=cardSize route="events.show" resource=event image=event.thumbnail title=event.title}}
    {{/each}}
</section>
{{!-- Extract to paging component plz --}}
<footer class="pagination-bar">
    {{pagination-bar disabled=isLoading routeName="events.index" limit=model.meta.limit offset=model.meta.offset total=model.meta.total}}
</footer>

