<h1>Event Details</h1>

<h2 class="event-name">{{model.name}}</h2>  
<p class="event-description">
    {{#if model.description}}
        {{{model.description}}}
    {{else}}
        <span class="no-data">No description available</span>
    {{/if}}
    {{moment-format model.start 'MM/DD/YY'}}
    {{momen1t-format model.end 'MM/DD/YY'}}
</p>